<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}", name: "Phoenix!" %></h2>
  <p class="lead">This is an early stage video streaming server, built with Phoenix and Elixir.<br/><a href="/videos">Click here for a list of videos!</a></p>
</div>
